.servicesBlock {
    display: block;
    min-height: 5vh;
}

.servicesAnton {
    font-size: 2.5rem;
    font-family: 'Anton';
    text-align: left;
    border-bottom: 4px solid black;
    margin: 0.5rem 2rem;
    letter-spacing: 5px;
}


@media screen and (min-width: 1000px) {
    .servicesBlock {
        padding: 2rem 0rem 2rem 0rem;
    }
}