.vendIt {
    background: rgb(133, 131, 131);
    -webkit-padding: 2rem 1rem 2rem 1rem;
    -moz-padding: 2rem 1rem 2rem 1rem;
    -ms-padding: 2rem 1rem 2rem 1rem;
    -o-padding: 2rem 1rem 2rem 1rem;
    padding: 2rem 1rem 2rem 1rem;
}

.sloganCursive, .sloganAnton {
    color: white;
}

.sloganCursive {
    font-family: 'Cookie', cursive;
    font-size: 3rem;
}

hr {
    width: 3.5rem;
    margin-top: -25px;
    border: solid 2px white;
}

.sloganAnton {
    font-family: 'Anton';
    font-size: 5rem;
    letter-spacing: 0.15rem;
}

@media screen and (max-width: 500px) {
    .sloganCursive{
        font-size: 2rem;
    }

    .sloganAnton {
        font-size: 3rem;
    }
}