.invoiceForm {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 102;
    top: 0;
    right: 0;
    overflow-y: scroll;
    background: rgba(75, 209, 160, 1);
    transition: 0.5s;
    padding-top: 20px;
}

legend {
    font-family: 'Anton';
    margin-bottom: 1rem;
}

.disclaimer {
    font-size: 0.8rem;
}

label {
    display: block;
    font-family: 'Helvetica';
    font-weight: bold;
    padding: 1rem;
}

input, textarea, select {
    margin-bottom: 1rem;
}

select {
    width: 7rem;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    font-family: "Helvetica";
}

.invoiceForm .closeForm {
    text-align: left;
    margin-left: 1rem;
}

.datePicker {
    text-align: center;
}

.submitForm {
    display: block;
    margin: 1.5rem auto;
    height: 3rem;
    background: black;
    color: white;
    font-family: 'Helvetica';
    font-size: 1.2rem;
    width: 10rem;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.submitForm:hover, .submitForm:focus {
    cursor: pointer;
    background: white;
    color: black;
}

@media screen and (max-width: 500px) {
    .react-datepicker-popper {
        transform: translate3d(20px, 277px, 0px) !important; 
    }
}