.iconGrid {
    display: flex;
    width: 80%;
    border: solid 3px black;
    margin: 0px auto;
    height: 7rem;
}

.stackTitle {
    font-size: 1rem;
    font-family: 'Helvetica';
    letter-spacing: 1.5px;
    margin: 0px auto;
    width: 80%;
    -webkit-color: rgba(250 , 250, 250, 1);
    -moz-color: rgba(250 , 250, 250, 1);
    -ms-color: rgba(250 , 250, 250, 1);
    -o-color: rgba(250 , 250, 250, 1);
    color: rgba(250 , 250, 250, 1);
    -webkit-background: rgba(0 , 0, 0, 1);
    -moz-background: rgba(0 , 0, 0, 1);
    -ms-background: rgba(0 , 0, 0, 1);
    -o-background: rgba(0 , 0, 0, 1);
    background: rgba(0 , 0, 0, 1);
}

.devicon-amazonwebservices-original, .devicon-debian-plain, 
.devicon-react-original, .devicon-css3-plain, 
.devicon-nodejs-plain, .devicon-babel-plain, 
.devicon-webpack-plain {
    font-size: 6rem;
    margin: 5px 30px;
    display: inline;
}

@media screen and (min-width: 1300px) {
    .techBox {
        margin-top: 80px;
    }
}

@media screen and (max-width: 500px) {
    .stackTitle {
        width: 30%;
        margin: 0px 30px;
        padding: 13px;
    }

    .iconGrid {
        height: 32rem;
        padding: 25px;
        flex-direction: column;
        width: 30%;
        margin: 0px 30px;
    }

    .devicon-amazonwebservices-original, .devicon-debian-plain, 
    .devicon-react-original, .devicon-css3-plain, 
    .devicon-nodejs-plain, .devicon-babel-plain, 
    .devicon-webpack-plain {
        font-size: 4rem;
        margin: 2px 0px;
    }
}


@media screen and (max-width: 450px) and (max-height: 750px) {
    .iconGrid {
        height: 26rem;
        padding: 25px;
        width: 30%;
    }

    .devicon-amazonwebservices-original, .devicon-debian-plain, 
    .devicon-react-original, .devicon-css3-plain, 
    .devicon-nodejs-plain, .devicon-babel-plain, 
    .devicon-webpack-plain {
        font-size: 3rem;
        margin: 3px 0px;
    }
}

@media screen and (max-width: 370px) { 
    .stackTitle {
        padding: 1px;
    }
}