nav {
    font-family: 'Heavitas';
}

h1 {
    display: none;
}

ul {
    list-style-type: none;
    -webkit-margin: 0;
    -moz-margin: 0;
    -ms-margin: 0;
    -o-margin: 0;
    margin: 0;
    -webkit-padding: 0;
    -moz-padding: 0;
    -ms-padding: 0;
    -o-padding: 0;
    padding: 0;
}
  
li {
  -webkit-display: inline;
  -moz-display: inline;
  -ms-display: inline;
  -o-display: inline;
  display: inline;
  -webkit-padding: 7px;
  -moz-padding: 7px;
  -ms-padding: 7px;
  -o-padding: 7px;
  padding: 7px;
}

a {
    -webkit-color: black;
    -moz-color: black;
    -ms-color: black;
    -o-color: black;
    color: black;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    -webkit-font-size: 1.2rem;
    -moz-font-size: 1.2rem;
    -ms-font-size: 1.2rem;
    -o-font-size: 1.2rem;
    font-size: 1.2rem;
}

.topBarOption {
    font-family: 'Anton';
    font-size: 1rem;
}

.topBarOption:focus, .topBarOption:hover {
    color: rgba(255, 255, 255, 1);
}

/* .invoiceFormButton {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-family: 'Anton';
    background: black;
    color: white;
    height: 2.5rem;
    border-radius: 10px;
    letter-spacing: 0.5px;
} */

/* .invoiceFormButton:hover, .invoiceFormButton:focus {
    cursor: pointer;
    background: white;
    color: black;
} */

/* @media screen and (max-width: 450px) and (min-height: 750px) and (max-height: 850px) { 
    .invoiceFormButton {
        bottom: 2.5rem;
    }
}

@media screen and (min-width: 371px) and (max-width: 450px) and (max-height: 750px) { 
    .invoiceFormButton {
        bottom: 1.7rem;
    }
} */

/* @media screen and (max-width: 370px) and (max-height: 600) { 
    .invoiceFormButton {
        bottom: .5rem;
    }
} */