h2 {
    margin: 0 auto;
}

.aboutUsIntro {
    background-color: rgb(246, 157, 1);
    -webkit-padding: 1rem 1rem 2.5rem 1rem;
    -moz-padding: 1rem 1rem 2.5rem 1rem;
    -ms-padding: 1rem 1rem 2.5rem 1rem;
    -o-padding: 1rem 1rem 2.5rem 1rem;
    padding: 1rem 1rem 2.5rem 1rem;
}

.aboutCaps, .usCaps {
    font-size: 2.5rem;
    font-family: 'Anton';
    text-align: left;
    border-bottom: 4px solid black;
    margin: 2rem;
    letter-spacing: 5px;
}

.aboutCaps {
    color: #000
}

.noshWareBioIntro {
    margin: 0rem 2rem;
    line-height: 1.5rem;
    font-family: 'Helvetica';
    text-align: left;
    font-weight: bold;
}

.learnMore {
    display: block;
    margin: 15px auto;
    border: solid 3px;
    padding: 7px;
    width: 10rem;
    letter-spacing: 1px;
    font-family: 'Anton';
    background: rgba(75, 209, 160, 1);
    font-size: 1.2rem;
    font-weight: 500;
}

.learnMore:hover, .learnMore:focus {
    background: black;
    color: white;
    cursor: pointer;
    border: solid 3px black;
}