.aboutUsFull {
    -webkit-background-color: rgba(75, 209, 160, 1);
    -moz-background-color: rgba(75, 209, 160, 1);
    -ms-background-color: rgba(75, 209, 160, 1);
    -o-background-color: rgba(75, 209, 160, 1);
    background-color: rgba(75, 209, 160, 1);
    -webkit-padding: 1rem 1rem 2.5rem 1rem;
    -moz-padding: 1rem 1rem 2.5rem 1rem;
    -ms-padding: 1rem 1rem 2.5rem 1rem;
    -o-padding: 1rem 1rem 2.5rem 1rem;
    padding: 1rem 1rem 2.5rem 1rem;
    -webkit-min-height: 750px;
    -moz-min-height: 750px;
    -ms-min-height: 750px;
    -o-min-height: 750px;
    min-height: 750px;
}
