.banner {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
    text-align: left;
    border-bottom: 4px solid black;
    margin: 0rem 3rem;
    padding: 1rem 0rem 0rem 0rem;
}

.LogoImage {
    height: 2rem;
}