.sideBar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sideBar a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Anton';
    font-weight: 100;
    letter-spacing: .1rem;
    padding: .75rem;
}

.sideBar .closeBtn {
    text-align: right;
    margin-right: 1rem;
}

.fa-window-close {
    color: white;
}