.vendingMachine {
    display: block;
    height: 20rem;
    width: 20rem;
}

.techDescription {
    font-family: 'Anton';
    margin: auto;
    margin-top: 50px;
    font-size: 1.7rem;
    line-height: 3rem;
    width: 80%;
}

@media screen and (max-width: 500px) {
    .techDescription {
        width: 50%;
        position: absolute;
        right: 10px;
        top: 200px;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}