* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

main {
  padding-top: 1rem;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  position: relative;
}

.mainContainer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

header {
  margin-bottom: -1rem;
  position: relative;
  display: block !important;
}

.fa-bars {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
}

.topBar {
  display: inline-block;
}

.App-header {
  background-color: rgb(246, 157, 1);
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 0.5rem;
}


footer {
  min-height: 2vh;
  background-color: rgb(255, 237, 196);
  position: absolute;;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .topBar {
    display: none;
  }
}

@media screen and (min-width: 371px) and (max-width: 450px) and (max-height: 750px) { 
  main {
    min-height: 90vh;
  }
}

@media screen and (max-width: 370px) {
  main {
    min-height: 95vh;
  }
}

@media screen and (min-width: 500px) {
  .fa-bars {
    display: none;
  }
}